@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.sbui-popover__content {
  border-style: solid;
  border-width: 1px;
  background-color: $gray-800;
  padding: 0px;
  border-width: 1px;
  border-color: $gray-100;
  border-radius: $rounded-base;
  box-shadow: $shadow-6;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.sbui-popover__content {
  transform-origin: var(--radix-popover-menu-content-transform-origin);
}

.sbui-popover__content[data-state='open'] {
  animation: fadeIn 50ms ease-out;
}

.sbui-popover__content[data-state='closed'] {
  animation: fadeOut 50ms ease-in;
}

.sbui-popover__trigger {
  border-style: none;
  background-color: transparent;
  padding: 0px;
}

.sbui-popover__arrow {
  border-style: solid;
  fill: currentColor;
  color: $gray-100;
  border-width: 0px;
  border-top-width: 1px;
}

.sbui-popover__close {
  position: absolute;
  top: $mp-1;
  right: 0px;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  padding-right: 1rem;
  color: $gray-300;

  & :hover {
    color: $gray-400;
  }
}
