.sbui-dropdown-item {
  cursor: 'default';
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;

  & :hover {
    background-color: $gray-200;
  }
}

.sbui-dropdown-item-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: inherit;
  color: $gray-300;
}

.sbui-dropdown-item svg {
  color: $gray-300;
}

.sbui-dropdown-label {
  display: flex;
  align-items: center;
  font-size: $rounded-xl;
  color: $gray-300;
  padding: $mp-1-5 $mp-4;
  margin-right: $mp-2;
  margin-left: $mp-2;
}

.sbui-dropdown-misc {
  padding: $mp-1-5 $mp-4;
}

.sbui-dropdown-input {
  display: flex;
  align-items: center;
  padding-left: $mp-8;
  padding-right: $mp-4;
}

.sbui-dropdown {
  max-height: 300px;
  border-radius: $rounded-base;
  padding-top: $mp-3;
  padding-bottom: $mp-3;
  padding-left: 0;
  background-color: white;
  overflow-y: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.sbui-dropdown-icon {
  padding-right: $mp-3;
}