@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.language-name {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: $gray-600;
}

.listbox-container {
}

.listbox {
  display: flex;
  width: 100%;
  padding: $mp-3 $mp-3;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -khtml-border-radius: $rounded-md;
  color: $gray-100;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-100;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: none;
  cursor: default;
  background: transparent;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.listbox:hover {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: $brand-200;
}

.listbox:focus {
  outline: none;
  box-shadow: none;
}

.listbox-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: $mp-3;
}

.listbox-ripple {
  display: flex !important;
  height: inherit;
  width: inherit;
  pointer-events: auto;
  justify-content: flex-start;
}

.listbox-actions-container {
  display: flex;
  align-items: center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding-right: $mp-1;
}

.listbox-label {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $gray-100;
}

.listbox-chevron-container {
  display: flex;
  align-items: center;
  pointer-events: none;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.listbox-chevron {
  height: $mp-5;
  width: $mp-5;
  color: $gray-100;
}

.flag {
  width: 25px;
  height: 20px;
  margin-bottom: 4px;
  background-image: url('../../assets/images/high-res.png');
  background-repeat: no-repeat;
}
.ad {
  background-position: -48px -24px;
}
.af {
  background-position: -96px -24px;
}
.ag {
  background-position: -120px -24px;
}
.ai {
  background-position: -144px -24px;
}
.sq {
  background-position: -168px -24px;
}
.hy {
  background-position: -192px -24px;
}
.an {
  background-position: -216px -24px;
}
.ao {
  background-position: -240px -24px;
}
.aq {
  background-position: -264px -24px;
}
.ar {
  background-position: -288px -24px;
}
.ps {
  background-position: -288px -24px;
}
.as {
  background-position: -312px -24px;
}
.aw {
  background-position: -384px -24px;
}
.ax {
  background-position: -0px -48px;
}
.az {
  background-position: -24px -48px;
}
.bs {
  background-position: -48px -48px;
}
.bb {
  background-position: -72px -48px;
}
.bd {
  background-position: -96px -48px;
}
.bf {
  background-position: -144px -48px;
}
.bg {
  background-position: -168px -48px;
}
.bi {
  background-position: -216px -48px;
}
.bj {
  background-position: -240px -48px;
}
.bl {
  background-position: -264px -48px;
}
.bm {
  background-position: -288px -48px;
}
.bs {
  background-position: -384px -48px;
}
.bt {
  background-position: -0px -72px;
}
.bw {
  background-position: -24px -72px;
}
.cc {
  background-position: -120px -72px;
}
.cd {
  background-position: -144px -72px;
}
.cf {
  background-position: -168px -72px;
}
.cg {
  background-position: -192px -72px;
}
.ci {
  background-position: -240px -72px;
}
.ck {
  background-position: -264px -72px;
}
.cm {
  background-position: -312px -72px;
}
.zh {
  background-position: -336px -72px;
}
.cr {
  background-position: -384px -72px;
}
.cu {
  background-position: -0px -96px;
}
.cv {
  background-position: -24px -96px;
}
.cw {
  background-position: -48px -96px;
}
.cx {
  background-position: -72px -96px;
}
.cy {
  background-position: -96px -96px;
}
.cs {
  background-position: -120px -96px;
}
.de {
  background-position: -144px -96px;
}
.dj {
  background-position: -168px -96px;
}
.da {
  background-position: -192px -96px;
}
.dm {
  background-position: -216px -96px;
}
.et {
  background-position: -312px -96px;
}
.eh {
  background-position: -360px -96px;
}
.er {
  background-position: -384px -96px;
}
.eu {
  background-position: -0px -120px;
}
.et {
  background-position: -24px -120px;
}
.eu {
  background-position: -48px -120px;
}
.fj {
  background-position: -96px -120px;
}
.fk {
  background-position: -120px -120px;
}
.fm {
  background-position: -144px -120px;
}
.fo {
  background-position: -168px -120px;
}
.fr {
  background-position: -192px -120px;
}
.ga {
  background-position: -216px -120px;
}
.cy {
  background-position: -240px -120px;
}
.en {
  background-position: -240px -120px;
}
.gd {
  background-position: -264px -120px;
}
.ka {
  background-position: -288px -120px;
}
.gg {
  background-position: -312px -120px;
}
.gh {
  background-position: -336px -120px;
}
.gi {
  background-position: -360px -120px;
}
.gl {
  background-position: -384px -120px;
}
.gm {
  background-position: -0px -144px;
}
.gn {
  background-position: -24px -144px;
}
.gq {
  background-position: -48px -144px;
}
.el {
  background-position: -72px -144px;
}
.gs {
  background-position: -96px -144px;
}
.gu {
  background-position: -144px -144px;
}
.gw {
  background-position: -168px -144px;
}
.gy {
  background-position: -192px -144px;
}
.hr {
  background-position: -264px -144px;
}
.ht {
  background-position: -288px -144px;
}
.hu {
  background-position: -312px -144px;
}
.ic {
  background-position: -336px -144px;
}
.id {
  background-position: -360px -144px;
}
.pa {
  background-position: -48px -168px;
}
.hi {
  background-position: -48px -168px;
}
.he {
  background-position: -0px -168px;
}
.im {
  background-position: -24px -168px;
}
.gu {
  background-position: -48px -168px;
}
.fa {
  background-position: -96px -168px;
}
.is {
  background-position: -120px -168px;
}
.it {
  background-position: -144px -168px;
}
.je {
  background-position: -168px -168px;
}
.ja {
  background-position: -240px -168px;
}
.syr {
  background-position: -96px -312px;
}
.sw {
  background-position: -264px -168px;
}
.ky {
  background-position: -288px -168px;
}
.kh {
  background-position: -312px -168px;
}
.ki {
  background-position: -336px -168px;
}
.xk {
  background-position: -144px 0px;
}
.km {
  background-position: -360px -168px;
}
.kn {
  background-position: -384px -168px;
}
.kp {
  background-position: -0px -192px;
}
.ko {
  background-position: -24px -192px;
}
.ky {
  background-position: -72px -192px;
}
.kk {
  background-position: -96px -192px;
}
.la {
  background-position: -120px -192px;
}
.lc {
  background-position: -168px -192px;
}
.lk {
  background-position: -216px -192px;
}
.lr {
  background-position: -240px -192px;
}
.ls {
  background-position: -264px -192px;
}
.lt {
  background-position: -288px -192px;
}
.lv {
  background-position: -336px -192px;
}
.md {
  background-position: -24px -216px;
}
.me {
  background-position: -48px -216px;
}
.mf {
  background-position: -72px -216px;
}
.mg {
  background-position: -96px -216px;
}
.mh {
  background-position: -120px -216px;
}
.mi {
  background-position: -384px -240px;
}
.mk {
  background-position: -144px -216px;
}
.ml {
  background-position: -168px -216px;
}
.mm {
  background-position: -192px -216px;
}
.mn {
  background-position: -216px -216px;
}
.mp {
  background-position: -264px -216px;
}
.mq {
  background-position: -288px -216px;
}
.mr {
  background-position: -312px -216px;
}
.ms {
  background-position: -336px -216px;
}
.mt {
  background-position: -360px -216px;
}
.mu {
  background-position: -384px -216px;
}
.dv {
  background-position: -0px -240px;
}
.mw {
  background-position: -24px -240px;
}
.my {
  background-position: -72px -240px;
}
.mz {
  background-position: -96px -240px;
}
.na {
  background-position: -120px -240px;
}
.nc {
  background-position: -144px -240px;
}
.ne {
  background-position: -168px -240px;
}
.nf {
  background-position: -192px -240px;
}
.ng {
  background-position: -216px -240px;
}
.nl {
  background-position: -264px -240px;
}
.nb {
  background-position: -288px -240px;
}
.nn {
  background-position: -288px -240px;
}
.np {
  background-position: -312px -240px;
}
.nr {
  background-position: -336px -240px;
}
.nu {
  background-position: -360px -240px;
}
.qu {
  background-position: -48px -264px;
}
.pf {
  background-position: -72px -264px;
}
.pg {
  background-position: -96px -264px;
}
.tl {
  background-position: -120px -264px;
}
.ur {
  background-position: -192px -264px;
}
.pl {
  background-position: -216px -264px;
}
.pn {
  background-position: -240px -264px;
}
.pt {
  background-position: -312px -264px;
}
.pw {
  background-position: -336px -264px;
}
.ro {
  background-position: -0px -288px;
}
.rs {
  background-position: -24px -288px;
}
.ru {
  background-position: -48px -288px;
}
.tt {
  background-position: -48px -288px;
}
.rw {
  background-position: -72px -288px;
}
.sa {
  background-position: -48px -168px;
}
.sb {
  background-position: -120px -288px;
}
.sc {
  background-position: -144px -288px;
}
.sd {
  background-position: -168px -288px;
}
.sv {
  background-position: -192px -288px;
}
.sh {
  background-position: -240px -288px;
}
.si {
  background-position: -264px -288px;
}
.sk {
  background-position: -288px -288px;
}
.sl {
  background-position: -312px -288px;
}
.sm {
  background-position: -336px -288px;
}
.sn {
  background-position: -360px -288px;
}
.so {
  background-position: -384px -288px;
}
.sr {
  background-position: -0px -312px;
}
.ss {
  background-position: -24px -312px;
}
.st {
  background-position: -48px -312px;
}

.sz {
  background-position: -120px -312px;
}
.tc {
  background-position: -144px -312px;
}
.td {
  background-position: -168px -312px;
}
.tf {
  background-position: -192px -312px;
}
.tg {
  background-position: -216px -312px;
}
.th {
  background-position: -240px -312px;
}
.tj {
  background-position: -264px -312px;
}
.tk {
  background-position: -288px -312px;
}
.tl {
  background-position: -312px -312px;
}
.tm {
  background-position: -336px -312px;
}
.to {
  background-position: -384px -312px;
}
.tr {
  background-position: -0px -336px;
}
.tv {
  background-position: -48px -336px;
}
.tz {
  background-position: -96px -336px;
}
.uk {
  background-position: -120px -336px;
}
.ug {
  background-position: -144px -336px;
}
.uz {
  background-position: -216px -336px;
}
.va {
  background-position: -240px -336px;
}
.vc {
  background-position: -264px -336px;
}
.vg {
  background-position: -312px -336px;
}
.vi {
  background-position: -360px -336px;
}
.vu {
  background-position: -384px -336px;
}
.wf {
  background-position: -0px -360px;
}
.ws {
  background-position: -24px -360px;
}
.af {
  background-position: -96px -360px;
}
.ns {
  background-position: -96px -360px;
}
.tn {
  background-position: -96px -360px;
}
.xh {
  background-position: -96px -360px;
}
.zu {
  background-position: -96px -360px;
}
.zm {
  background-position: -120px -360px;
}
