@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.radio-fieldset {
  border-style: none;
  padding: 0px;
  margin: 0px;
}

.radio-container {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: $mp-2 0;
  border-style: none;
  -webkit-tap-highlight-color: transparent;
}

.radio-label-container-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}

.radio-container-card {
  padding: $mp-7;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-200;
  width: 100%;
}

.radio-container-card-active {
  background-color: $gray-600;
  border-color: $brand-200;
  z-index: 10;
}

.radio-container-card:first-child {
  border-top-left-radius: $rounded-md;
  border-top-right-radius: $rounded-md;
}

.radio-container-card:last-child {
  border-bottom-left-radius: $rounded-md;
  border-bottom-right-radius: $rounded-md;
}

.radio-label-container {
  flex: 1;
}

.radio-right-content-container {
  width: fit-content;
  height: inherit;
}

.radio-label {
  display: flex;
  flex-direction: row;
}

.radio-label-text {
  display: block;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: white;
}

.radio-label-text .radio-label-text-before,
.radio-label-text .radio-label-text-after {
  color: $gray-400;
}

.radio-label-description {
  display: block;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: $gray-300;
}

.radio {
  background-color: transparent;
  height: $mp-7;
  width: $mp-7;
  margin-left: 0;
  margin-right: $mp-7;
  border-radius: $rounded-full;
  -webkit-border-radius: $rounded-full;
  -moz-border-radius: $rounded-full;
  -khtml-border-radius: $rounded-full;
  border-width: 1px;
  border-style: solid;
  color: $brand-500;
  cursor: pointer;
  border-color: $gray-500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
}

.radio:checked {
  border-color: transparent;
  background-color: currentColor;
  background-position: center;
  background-repeat: no-repeat;
}

.radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.radio-group-contents {
  background-color: transparent;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -khtml-border-radius: $rounded-md;
}

/*
  Label sizes
*/

.radio-container-tiny .radio-label,
.radio-container-tiny .radio-label-text,
.radio-container-tiny .radio-label-description {
  font-size: $font-size-xs;
  line-height: $font-line-height-xs;
}
.radio-container-small .radio-label,
.radio-container-small .radio-label-text,
.radio-container-small .radio-label-description {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
}
.radio-container-medium .radio-label,
.radio-container-medium .radio-label-text,
.radio-container-medium .radio-label-description {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
}

.radio-container-large .radio-label,
.radio-container-large .radio-label-text,
.radio-container-large .radio-label-description {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}
.radio-container-xlarge .radio-label,
.radio-container-xlarge .radio-label-text,
.radio-container-xlarge .radio-label-description {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}
