.sbui-radio-fieldset {
  border-style: none;
  padding: 0px;
  margin: 0px;
}

.sbui-radio-container {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: $mp-2 0;
  border-style: none;
}

.sbui-radio-container--card {
  padding: $mp-4;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-200;
}

.sbui-radio-container--card--active {
  background-color: rgba($brand-100, $opacity-2);
  border-color: $brand-200;
  z-index: 10;
}

.sbui-radio-container--card:first-child {
  border-top-left-radius: $rounded-md;
  border-top-right-radius: $rounded-md;
}

.sbui-radio-container--card:last-child {
  border-bottom-left-radius: $rounded-md;
  border-bottom-right-radius: $rounded-md;
}

.sbui-radio-label {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.sbui-radio-label-text {
  display: block;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: white;
}

.sbui-radio-label-text .sbui-radio__label-text-before,
.sbui-radio-label-text .sbui-radio__label-text-after {
  color: $gray-400;
}

.sbui-radio-label-description {
  display: block;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: $gray-300;
}

.sbui-radio {
  background-color: transparent;
  height: $mp-4;
  width: $mp-4;
  margin-left: 0;
  margin-right: $mp-3-5;
  border-radius: $rounded-full;
  border-width: 1px;
  border-style: solid;
  color: $brand-600;
  cursor: pointer;
  border-color: $gray-500;

  & :hover {
    border-color: $brand-700;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.sbui-radio:checked {
  border-color: transparent;
  background-color: currentColor;
  background-position: center;
  background-repeat: no-repeat;
}

.sbui-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.sbui-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
}

.sbui-radio-group-contents {
  background-color: transparent;
  border-radius: $rounded-md;
}

/*
  Label sizes
*/

.sbui-radio-container--tiny .sbui-radio-label,
.sbui-radio-container--tiny .sbui-radio-label-text,
.sbui-radio-container--tiny .sbui-radio-label-description {
  font-size: $font-size-xs;
  line-height: $font-line-height-xs;
}
.sbui-radio-container--small .sbui-radio-label,
.sbui-radio-container--small .sbui-radio-label-text,
.sbui-radio-container--small .sbui-radio-label-description {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
}
.sbui-radio-container--medium .sbui-radio-label,
.sbui-radio-container--medium .sbui-radio-label-text,
.sbui-radio-container--medium .sbui-radio-label-description {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
}

.sbui-radio-container--large .sbui-radio-label,
.sbui-radio-container--large .sbui-radio-label-text,
.sbui-radio-container--large .sbui-radio-label-description {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}
.sbui-radio-container--xlarge .sbui-radio-label,
.sbui-radio-container--xlarge .sbui-radio-label-text,
.sbui-radio-container--xlarge .sbui-radio-label-description {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}
