@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .badge {
    background-color: $dark-2;
    color: $gray-100;
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  padding: $mp-3 $mp-5;
  border-radius: $rounded-full;
  -webkit-border-radius: $rounded-full;
  -moz-border-radius: $rounded-full;
  -khtml-border-radius: $rounded-full;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  font-weight: $font-weight-medium;
  background-color: $green-500;
  color: $brand-800;
}

.badge--large {
  padding: $mp-3 $mp-5;
  border-radius: $rounded-full;
  -webkit-border-radius: $rounded-full;
  -moz-border-radius: $rounded-full;
  -khtml-border-radius: $rounded-full;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
}

.badge-dot {
  margin-left: -$mp-2;
  margin-right: $mp-3;
  height: $mp-2;
  width: $mp-2;
}

.badge--gray {
  background-color: rgba($gray-600, $opacity-1);
  color: $gray-500;
}

.badge--red {
  background-color: rgba($red-600, $opacity-1);
  color: $red-500;
}

.badge--yellow {
  background-color: rgba($yellow-600, $opacity-1);
  color: $yellow-500;
}

.badge--green {
  background-color: rgba($green-600, $opacity-1);
  color: $green-500;
}

.badge--blue {
  background-color: rgba($blue-600, $opacity-1);
  color: $blue-500;
}

.badge--indigo {
  background-color: rgba($indigo-600, $opacity-1);
  color: $indigo-500;
}

.badge--purple {
  background-color: rgba($purple-600, $opacity-1);
  color: $purple-500;
}

.badge--pink {
  background-color: rgba($pink-600, $opacity-1);
  color: $pink-500;
}
