@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -khtml-border-radius: $rounded-md;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-100;
  padding: 0 $mp-3;
}

.container:hover {
  border-color: $brand-200;
}

.inputgeocoding {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  box-shadow: none !important;
  font-family: inherit;
  appearance: textfield;
  float: left;
  background: transparent;
  padding: $mp-3 0;
  width: 100%;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: $gray-100;
}

.inputgeocoding::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray-300;
}

.inputgeocoding:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $gray-300;
}

.inputgeocoding::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $gray-300;
}

.dropdown {
  position: absolute;
  border-radius: $rounded-base;
  -webkit-border-radius: $rounded-base;
  -moz-border-radius: $rounded-base;
  -khtml-border-radius: $rounded-base;
  border-width: 1px;
  border-color: $gray-100;
  color: white;
  top: 36px;
  height: inherit;
  width: inherit;
}

.dropdown li span {
  font-family: $font-family !important;
}

.search-container {
  position: relative;
  margin-left: $mp-3;
  margin-right: $mp-3;
}

.search {
  display: block;
  box-sizing: border-box;
  padding-left: $mp-10;
  padding-right: $mp-2;
  padding-top: $mp-1;
  padding-bottom: $mp-1;
  width: 100%;
  border-radius: $rounded-full;
  -webkit-border-radius: $rounded-full;
  -moz-border-radius: $rounded-full;
  -khtml-border-radius: $rounded-full;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  border-width: 1px;
  border-style: solid;
  font-family: inherit;
  background-color: transparent;
  color: $gray-600;
  border-color: $gray-100;
}

.input-geocoding-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: $mp-3;
}

.place-name {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  color: $gray-600;
}

.search--with-icon {
  padding: $mp-0-5;
  color: $gray-600;
}

.map-pin-icon {
  top: 0px;
  bottom: 0px;
  right: $mp-3;
  padding-right: $mp-2;
  padding-left: $mp-2;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.inputgeocoding::-webkit-inner-spin-button,
.inputgeocoding::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputgeocoding:focus {
  box-shadow: 0 0 0 2px rgba(62, 207, 142, 0.1);
  outline: 0;
}

.-error {
  border-color: $red-500;
}

.-borderless {
  border-color: transparent;
  box-shadow: none;
}

.actions-container {
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding-left: $mp-3;
  padding-right: $mp-1;
  display: flex;
  align-items: center;
}

.search-root {
  width: 100%;
  padding-left: $mp-4;
  padding-right: $mp-4;
  padding-bottom: $mp-3;
  z-index: 1;
}

.search-container {
  display: flex;
  padding: 0 $mp-2;
  border-width: 1px;
  border-style: solid;
  border-radius: $rounded-full;
  -webkit-border-radius: $rounded-full;
  -moz-border-radius: $rounded-full;
  -khtml-border-radius: $rounded-full;
  border-color: $gray-100;
  background-color: white;

  & :hover {
    border-color: $gray-100;
  }

  & :focus {
    border-color: $gray-100;
  }
}

.search {
  padding: $mp-1 $mp-2;
  width: 100%;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  box-shadow: none;
  font-family: inherit;
  appearance: textfield;
  background: transparent;
  color: $gray-600;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border-style: none;
}

.search-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search:focus {
  border-style: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search--with-icon {
  padding: $mp-0-5;
  color: $gray-600;
}

.hide {
  display: none;
}
.v-hide {
  visibility: hidden;
}

#dropdown-button {
}

#basic-menu {
}
