.sbui-inputgeocoding-container {
    @apply box-border rounded-md shadow-sm border border-solid;
    @apply  border-input-border-light dark:border-input-border-light;
    @apply focus:ring-input-border-focus-light focus:border-input-border-focus-light focus:outline-none;
    @apply hover:ring-input-border-focus-light hover:border-input-border-focus-light hover:outline-none;
    @apply dark:focus:border-input-border-focus-dark dark:focus:ring-input-border-focus-dark;
    @apply dark:hover:border-input-border-focus-dark dark:hover:ring-input-border-focus-dark;
    display: flex;
    flex-direction: row;
}

.sbui-inputgeocoding {
    @apply pl-3 pr-3 py-2 w-full text-sm transition-all;
    @apply text-input-value-dark;
    @apply dark:bg-transparent dark:text-input-value-dark;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    box-shadow: none !important;
    font-family: inherit;
    appearance: textfield;
    float: left;
    background: transparent;
    line-height: 1.25rem;
}

.sbui-inputgeocoding-dropdown {
    @apply absolute rounded border border-lightmode dark:border-darkmode !important;
    @apply dark:text-white !important;
    border-radius: 0.25rem !important;
    top: 36px;
    height: inherit;
    width: inherit;
}

.sbui-inputgeocoding-dropdown li span {
    font-family: Poppins !important;
}

.sbui-inputgeocoding-search-container {
  @apply relative ml-3 mr-3 mb-2;
}

.sbui-inputgeocoding-search {
  @apply block box-border pl-10 pr-2 py-1 w-full rounded-full shadow-sm text-sm border border-solid transition-all;
  @apply bg-transparent text-input-value-light dark:text-input-value-light border-input-border-light;
  @apply focus:border-input-border-light dark:focus:border-input-border-light focus:outline-none;
  @apply hover:border-input-border-light dark:hover:border-input-border-light hover:outline-none;

  /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); */
  font-family: inherit;
  transition: box-shadow 0.3s ease-in-out;
}

.place-name {
  @apply text-sm text-input-value-light dark:text-input-value-light;
}

.sbui-inputgeocoding-search--with-icon {
  @apply p-0.5;
  @apply text-input-value-light dark:text-input-value-light;
}

.sbui-inputgeocoding-map-pin-icon {
    @apply inset-y-0 right-3 pr-2 pl-2 flex items-center pointer-events-none;
}

.sbui-inputgeocoding::-webkit-inner-spin-button,
.sbui-inputgeocoding::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sbui-inputgeocoding:focus {
    box-shadow: 0 0 0 2px rgba(62, 207, 142, 0.1);
    outline: 0;
}

.sbui-inputgeocoding--error {
    @apply border-red-500 dark:border-red-500;
}

.sbui-inputgeocoding--borderless {
    @apply border-transparent shadow-none;
}

.sbui-inputgeocoding-actions-container {
  @apply inset-y-0 right-0 pl-3 pr-1 flex items-center;
}


  .hide {
    display: none;
  }
  .v-hide {
    visibility: hidden;
  }

  #sbui-dropdown-button {}

  #sbui-basic-menu {}