.sbui-toast-root {
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 24;
  pointer-events: none;
  overflow: none;
}

.sbui-toast-overlay-container {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 8px;
  padding: 16px;
  overflow: none;
}

.sbui-toast-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.sbui-toast-text-container {
  width: 100%;
}

.sbui-toast-container {
  @apply relative shadow-lg rounded-md py-4 px-2 overflow-hidden;
  @apply border border-solid;
  @apply bg-gray-700 border-gray-400;
  @apply dark:bg-dark-700 dark:border-gray-400;
  min-width: 344px;
  display: flex;
  flex: 1;
}

.sbui-toast-container--sm {
  @apply max-w-sm;
}

.sbui-toast-container--md {
  @apply max-w-md;
}

.sbui-toast-container.sbui-toast-container--success {
  @apply border border-solid border-green-500;
}
.sbui-toast-container.sbui-toast-container--error {
  @apply border border-solid border-red-500;
}

.sbui-toast-container > div {
  @apply flex items-start;
}

.sbui-toast-icon-container {
  @apply flex-shrink-0 text-sm;
}

.sbui-toast-details {
  @apply ml-3 flex flex-1;
}

.sbui-toast-details--actions-bottom {
  @apply flex-col;
}

.sbui-toast-details--actions-bottom .sbui-toast-details__actions {
  @apply mt-4;
}

.sbui-toast-details__content {
  @apply flex flex-col;
}

.sbui-toast-message {
  @apply m-0 text-sm font-medium text-gray-100;
}

.sbui-toast-description {
  @apply m-0 mt-1 text-sm font-normal text-gray-300;
}

.sbui-toast-details__actions {
  @apply flex space-x-4;
}

.sbui-toast-close-container {
  @apply ml-4 flex-shrink-0 flex;
}

.sbui-toast-close-button {
  @apply bg-transparent rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none cursor-pointer border-0;
}

.sbui-toast-container--success .sbui-toast-icon-container {
  @apply text-green-500;
}

.sbui-toast-container--error .sbui-toast-icon-container {
  @apply text-red-500;
}

.sbui-alert--anim--spin {
  @apply stroke-current;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sbui-toast-life {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: auto;
  background-image: linear-gradient(130deg, #00b4e6, #10DADA);
  height: 5px;
}
