.root {
    position: relative;
    height: 100%;
    width: 100%;
}

.scroll-container {
  
}

.scroll-content {

}

.children {

}

.pull-indicator {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 150ms;
    transition-timing-function: $transition-standard-easing;
    z-index: -1;
  }
  
  .pull-indicator * {
    transition: transform 150ms;
    transition-timing-function: $transition-standard-easing;
    transform-origin: 50% 50%;
  }
  
  .flip * {
    transform: rotate(180deg);
  }

  .scale * {
    scale: 1;
    transform: scale(150ms);
  }

  .reload-container {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 150ms;
    transition-timing-function: $transition-standard-easing;
    z-index: -1;
  }

  .reload-container * {
    transition: transform 150ms;
    transition-timing-function: $transition-standard-easing;
    transform-origin: 50% 50%;
  }

  .load-container {
    width: 100%;
    scale: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 75ms;
    transition-timing-function: $transition-standard-easing;
    padding: $mp-4;
  }