@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

a.sbui-typography-link {
  font-size: $font-size-sm;
  color: $brand-700;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer !important;
}
