a.sbui-typography-link {
  @apply text-sm text-brand-700 dark:text-brand-700;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer !important;
}
