@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .typography-title {
    color: $gray-100;
  }
}

.typography-title {
  color: $gray-900;
  margin: 0;
}

h1.typography-title {
  font-size: $font-size-xl;
  line-height: $font-line-height-xl;
}

h2.typography-title {
  font-size: $font-size-lg;
  line-height: $font-line-height-lg;
}

h3.typography-title {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}

h4.typography-title {
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
}

h5.typography-title {
  font-size: $font-size-xs;
  line-height: $font-line-height-xs;
}
