@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .sbui-typography-title {
    color: $gray-100;
  }
}

.sbui-typography-title {
  color: $gray-900;
  margin: 0;
}

h1.sbui-typography-title {
  font-size: 55px;
  line-height: 90px;
}

h2.sbui-typography-title {
  font-size: 34px;
  line-height: 55px;
}

h3.sbui-typography-title {
  font-size: 21px;
  line-height: 34px;
}

h4.sbui-typography-title {
  font-size: $font-size-lg;
  line-height: $font-line-height-lg;
}

h5.sbui-typography-title {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
}
