@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .typography {
    color: $gray-100;
  }
  
  .typography h1 {
    color: $gray-100;
  }
  
  .typography h2 {
    color: $gray-100;
  }
  
  .typography h3 {
    color: $gray-100;
  }
  
  .typography h4 {
    color: $gray-100;
  }
  
  .typography h5 {
    color: $gray-100;
  }
  
  .typography strong {
    color: $gray-100;
  }
  
  .typography li::before {
    color: $gray-100;
  }
  
  .typography a {
    color: $gray-100;
  }
  
  .typography blockquote {
    color: $gray-100;
  }
  
  .typography code {
    color: $gray-100;
  }
  
  .typography figcaption {
    color: $gray-100;
  }
}

/* marker fix */
.typography li::marker {
  display: none;
  content: '';
}

.typography-container {
}

.typography {
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  color: $gray-900;
}

/* .typography--prose-sm {
  @apply prose prose-sm;
}

.typography--prose-lg {
  @apply prose prose-lg;
}

.typography--prose-xl {
  @apply prose prose-xl;
}

.typography--prose-2xl {
  @apply prose prose-2xl;
} */

.typography code {
  padding: 0.2em 0.4em 0.1em;
  background: hsla(0, 0%, 58.8%, 0.1);
  border: 1px solid hsla(0, 0%, 39.2%, 0.2);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
}

.typography {
  color: $gray-900;
}

.typography h1 {
  color: $gray-900;
}

.typography h2 {
  color: $gray-900;
}

.typography h3 {
  color: $gray-900;
}

.typography h4 {
  color: $gray-900;
}

.typography h5 {
  color: $gray-900;
}

.typography strong {
  color: $gray-900;
}

.typography li::before {
  color: $gray-900;
}

.typography a {
  color: $gray-900;
}

.typography blockquote {
  color: $gray-900;
}

.typography code {
  color: $gray-900;
}

.typography figcaption {
  color: $gray-900;
}
