@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.sbui-card {
  position: relative;
  display: flex;
  background-color: $gray-100;
  border-radius: $rounded-md;
  padding: $mp-4 $mp-4;
  box-shadow: $shadow-6;
}

.sbui-card-head {
  justify-content: space-between;
}

.sbui-card-content {
  padding-bottom: $mp-2;
}