@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.divider-vertical {
  width: 1px;
  height: inherit;
  background-color: $gray-200;
}

.divider-vertical.divider--light {
  background-color: $gray-100;
}

.divider--no-text {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $gray-200;
}

.divider > span {
  display: inline-block;
  padding: 0 $mp-5;
  color: $gray-300;
}

.divider--left:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
  border-color: $gray-200;
}

.divider--left:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
  border-color: $gray-200;
}

.divider--right:before {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
  border-color: $gray-200;
}

.divider--right:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
  border-color: $gray-200;
}

.divider--center:before,
.divider--center:after {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 50%;
  border-color: $gray-200;
}

.divider--light.divider--left:before,
.divider--light.divider--left:after,
.divider--light.divider--right:before,
.divider--light.divider--right:after,
.divider--light.divider--center:before,
.divider--light.divider--center:after,
.divider--light.divider--no-text {
  border-color: $gray-100;
}

.divider--light.divider > span {
  color: $gray-200;
}
