:root {
  --gray-100: #eeeeee;
  --gray-200: #e0e0e0;
  --gray-300: #bbbbbb;
  --gray-400: #666666;
  --gray-500: #444444;
  --gray-600: #2a2a2a;
  --gray-650: #333;
  --gray-700: #1f1f1f;
  --gray-800: #181818;
  --gray-900: #0f0f0f;

  --brand-100: #c5ffff;
  --brand-200: #abffff;
  --brand-300: #8cffff;
  --brand-400: #65ffff;
  --brand-500: #2480b4;
  --brand-600: #206092;
  --brand-700: #19426f;
  --brand-800: #10274e;
  --brand-900: #070b2e;

  --blue-50: #e3f2fd;
  --blue-100: #bbdefb;
  --blue-200: #90caf9;
  --blue-300: #64b5f6;
  --blue-400: #42a5f5;
  --blue-500: #2196f3;
  --blue-600: #1e88e5;
  --blue-700: #1976d2;
  --blue-800: #1565c0;
  --blue-900: #0d47a1;

  --green-50: #e8f5e9;
  --green-100: #c8e6c9;
  --green-200: #a5d6a7;
  --green-300: #81c784;
  --green-400: #66bb6a;
  --green-500: #4caf50;
  --green-600: #43a047;
  --green-700: #388e3c;
  --green-800: #2e7d32;
  --green-900: #1b5e20;

  --red-50: #ffebee;
  --red-100: #ffcdd2;
  --red-200: #ef9a9a;
  --red-300: #e57373;
  --red-400: #ef5350;
  --red-500: #f44336;
  --red-600: #e53935;
  --red-700: #d32f2f;
  --red-800: #c62828;
  --red-900: #b71c1c;

  --yellow-50: #fffde7;
  --yellow-100: #fff9c4;
  --yellow-200: #fff59d;
  --yellow-300: #fff176;
  --yellow-400: #ffee58;
  --yellow-500: #ffeb3b;
  --yellow-600: #fdd835;
  --yellow-700: #fbc02d;
  --yellow-800: #f9a825;
  --yellow-900: #f57f17;

  --indigo-50: #e8eaf6;
  --indigo-100: #c5cae9;
  --indigo-200: #9fa8da;
  --indigo-300: #7986cb;
  --indigo-400: #5c6bc0;
  --indigo-500: #3f51b5;
  --indigo-600: #3949ab;
  --indigo-700: #303f9f;
  --indigo-800: #283593;
  --indigo-900: #1a237e;

  --purple-50: #f3e5f5;
  --purple-100: #e1bee7;
  --purple-200: #ce93d8;
  --purple-300: #ba68c8;
  --purple-400: #ab47bc;
  --purple-500: #9c27b0;
  --purple-600: #8e24aa;
  --purple-700: #7b1fa2;
  --purple-800: #6a1b9a;
  --purple-900: #4a148c;

  --pink-50: #fce4ec;
  --pink-100: #f8bbd0;
  --pink-200: #f48fb1;
  --pink-300: #f06292;
  --pink-400: #ec407a;
  --pink-500: #e91e63;
  --pink-600: #d81b60;
  --pink-700: #c2185b;
  --pink-800: #ad1457;
  --pink-900: #880e4f;
}

$gray-100: var(--gray-100) !default;
$gray-200: var(--gray-200) !default;
$gray-300: var(--gray-300) !default;
$gray-400: var(--gray-400) !default;
$gray-500: var(--gray-500) !default;
$gray-600: var(--gray-600) !default;
$gray-650: var(--gray-650) !default;
$gray-700: var(--gray-700) !default;
$gray-800: var(--gray-800) !default;
$gray-900: var(--gray-900) !default;

$brand-100: var(--brand-100) !default;
$brand-200: var(--brand-200) !default;
$brand-300: var(--brand-300) !default;
$brand-400: var(--brand-400) !default;
$brand-500: var(--brand-500) !default;
$brand-600: var(--brand-600) !default;
$brand-700: var(--brand-700) !default;
$brand-800: var(--brand-800) !default;
$brand-900: var(--brand-900) !default;

$blue-50: var(--blue-50) !default;
$blue-100: var(--blue-100) !default;
$blue-200: var(--blue-200) !default;
$blue-300: var(--blue-300) !default;
$blue-400: var(--blue-400) !default;
$blue-500: var(--blue-500) !default;
$blue-600: var(--blue-600) !default;
$blue-700: var(--blue-700) !default;
$blue-800: var(--blue-800) !default;
$blue-900: var(--blue-900) !default;

$green-50: var(--green-50) !default;
$green-100: var(--green-100) !default;
$green-200: var(--green-200) !default;
$green-300: var(--green-300) !default;
$green-400: var(--green-400) !default;
$green-500: var(--green-500) !default;
$green-600: var(--green-600) !default;
$green-700: var(--green-700) !default;
$green-800: var(--green-800) !default;
$green-900: var(--green-900) !default;

$red-50: var(--red-50) !default;
$red-100: var(--red-100) !default;
$red-200: var(--red-200) !default;
$red-300: var(--red-300) !default;
$red-400: var(--red-400) !default;
$red-500: var(--red-500) !default;
$red-600: var(--red-600) !default;
$red-700: var(--red-700) !default;
$red-800: var(--red-800) !default;
$red-900: var(--red-900) !default;

$yellow-50: var(--yellow-50) !default;
$yellow-100: var(--yellow-100) !default;
$yellow-200: var(--yellow-200) !default;
$yellow-300: var(--yellow-300) !default;
$yellow-400: var(--yellow-400) !default;
$yellow-500: var(--yellow-500) !default;
$yellow-600: var(--yellow-600) !default;
$yellow-700: var(--yellow-700) !default;
$yellow-800: var(--yellow-800) !default;
$yellow-900: var(--yellow-900) !default;

$indigo-50: var(--indigo-50) !default;
$indigo-100: var(--indigo-100) !default;
$indigo-200: var(--indigo-200) !default;
$indigo-300: var(--indigo-300) !default;
$indigo-400: var(--indigo-400) !default;
$indigo-500: var(--indigo-500) !default;
$indigo-600: var(--indigo-600) !default;
$indigo-700: var(--indigo-700) !default;
$indigo-800: var(--indigo-800) !default;
$indigo-900: var(--indigo-900) !default;

$purple-50: var(--purple-50) !default;
$purple-100: var(--purple-100) !default;
$purple-200: var(--purple-200) !default;
$purple-300: var(--purple-300) !default;
$purple-400: var(--purple-400) !default;
$purple-500: var(--purple-500) !default;
$purple-600: var(--purple-600) !default;
$purple-700: var(--purple-700) !default;
$purple-800: var(--purple-800) !default;
$purple-900: var(--purple-900) !default;

$pink-50: var(--pink-50) !default;
$pink-100: var(--pink-100) !default;
$pink-200: var(--pink-200) !default;
$pink-300: var(--pink-300) !default;
$pink-400: var(--pink-400) !default;
$pink-500: var(--pink-500) !default;
$pink-600: var(--pink-600) !default;
$pink-700: var(--pink-700) !default;
$pink-800: var(--pink-800) !default;
$pink-900: var(--pink-900) !default;
