$mp-0-5: 0.125rem/* 2px */ !default;
$mp-1: 0.25rem/* 4px */ !default;
$mp-1-5: 0.375rem/* 6px */ !default;
$mp-2: 0.5rem/* 8px */ !default;
$mp-2-5: 0.625rem/* 10px */ !default;
$mp-3: 0.75rem/* 12px */ !default;
$mp-3-5: 0.875rem/* 14px */ !default;
$mp-4: 1rem/* 16px */ !default;
$mp-5: 1.25rem/* 20px */ !default;
$mp-6: 1.5rem/* 24px */ !default;
$mp-8: 2rem/* 32px */ !default;
$mp-9: 2.25rem/* 36px */ !default;
$mp-10: 2.5rem/* 40px */ !default;