:root {
  --mp-1: 2px;
  --mp-2: 3px;
  --mp-3: 5px;
  --mp-4: 8px;
  --mp-5: 13px;
  --mp-6: 21px;
  --mp-7: 34px;
  --mp-8: 55px;
  --mp-9: 90px;
  --mp-10: 145px;
}

$mp-1: var(--mp-1) !default;
$mp-2: var(--mp-2) !default;
$mp-3: var(--mp-3) !default;
$mp-4: var(--mp-4) !default;
$mp-5: var(--mp-5) !default;
$mp-6: var(--mp-6) !default;
$mp-7: var(--mp-7) !default;
$mp-8: var(--mp-8) !default;
$mp-9: var(--mp-9) !default;
$mp-10: var(--mp-10) !default;
