.sbui-ripple-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  overflow: visible !important;
}

.sbui-checkbox[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  color: #2563eb;
  background-color: transparent;
  border-color: #6b7280;
  border-width: 1px;
}

.sbui-checkbox {
  @apply border border-solid rounded bg-transparent focus:outline-none hover:border-brand-700 border-gray-300 focus:ring-brand-800 focus:ring-1;
  @apply dark:bg-transparent dark:hover:border-brand-500 dark:border-gray-300 dark:focus:ring-brand-800 dark:text-white dark:ring-offset-gray-800;
}

.sbui-checkbox[type="checkbox"]:checked:hover {
  @apply bg-brand-800;
}

.sbui-checkbox[type="checkbox"]:checked {
  @apply bg-brand-800 dark:bg-brand-800;
  border-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.sbui-checkbox-container {
  @apply flex cursor-pointer;
}

.sbui-checkbox__label-container {
  @apply leading-none;
  display: flex;
  align-items: center;
}

.sbui-checkbox__label-container__label {
  @apply text-gray-100 dark:text-gray-100 cursor-pointer mt-0;
}

.sbui-checkbox__label-container__label__span {
  @apply font-medium;
}

.sbui-checkbox__label-container__label__span .sbui-checkbox__label-text-before,
.sbui-checkbox__label-container__label__span .sbui-checkbox__label-text-after {
  @apply text-gray-900 dark:text-gray-100;
}

.sbui-checkbox__label-container__label__p {
  @apply mt-0 text-gray-100;
}
/*
  Label sizes
*/

.sbui-checkbox-container--tiny .sbui-checkbox__label-container__label,
.sbui-checkbox-container--tiny .sbui-checkbox__label-container__label__span,
.sbui-checkbox-container--tiny .sbui-checkbox__label-container__label__p {
  @apply text-xs;
}
.sbui-checkbox-container--small .sbui-checkbox__label-container__label,
.sbui-checkbox-container--small .sbui-checkbox__label-container__label__span,
.sbui-checkbox-container--small .sbui-checkbox__label-container__label__p {
  @apply text-sm;
}
.sbui-checkbox-container--medium .sbui-checkbox__label-container__label,
.sbui-checkbox-container--medium .sbui-checkbox__label-container__label__span,
.sbui-checkbox-container--medium .sbui-checkbox__label-container__label__p {
  @apply text-sm;
}
.sbui-checkbox-container--large .sbui-checkbox__label-container__label,
.sbui-checkbox-container--large .sbui-checkbox__label-container__label__span,
.sbui-checkbox-container--large .sbui-checkbox__label-container__label__p {
  @apply text-base;
}
.sbui-checkbox-container--xlarge .sbui-checkbox__label-container__label,
.sbui-checkbox-container--xlarge .sbui-checkbox__label-container__label__span,
.sbui-checkbox-container--xlarge .sbui-checkbox__label-container__label__p {
  @apply text-base;
}

/*
  Checkbox sizes
*/

.sbui-checkbox-container--tiny .sbui-checkbox {
  @apply h-3 w-3;
}

.sbui-checkbox-container--small .sbui-checkbox {
  @apply h-3.5 w-3.5;
}

.sbui-checkbox-container--large .sbui-checkbox {
  @apply h-5 w-5;
}

.sbui-checkbox-container--xlarge .sbui-checkbox {
  @apply h-5 w-5;
}
