@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.animated-content {
  position: fixed;
  z-index: 1000;

  & .background {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  & .exit-button-root {
    position: absolute;
    top: $mp-2;
    right: $mp-2;
    border-radius: $rounded-full;
    -webkit-border-radius: $rounded-full;
    -moz-border-radius: $rounded-full;
    -khtml-border-radius: $rounded-full;

    & .exit-button-container {
      border-radius: $rounded-full;
      -webkit-border-radius: $rounded-full;
      -moz-border-radius: $rounded-full;
      -khtml-border-radius: $rounded-full;

      & .exit-button {
        padding: $mp-3 !important;
      }
    }
  }
}
