@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .listbox {
    color: $gray-100;
    background-color: $dark-1;
  }
  
  .listbox-error {
    color: $red-500;
    border-color: $red-500;
  }
  
  .listbox-label {
    color: $gray-100;
  }
  
  .listbox-chevron {
    color: $gray-100;
  }
  
  .listbox-option-container {
    background-color: $brand-900;
  }
  
  .listbox-option {
    color: $gray-100;
  }
}

.listbox-container {
}

.listbox {
  display: flex;
  width: 100%;
  padding: $mp-5 $mp-5;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -khtml-border-radius: $rounded-md;
  color: $gray-900;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: none;
  cursor: default;
  background: transparent;
  align-items: center;
  outline: none;
  box-shadow: none;
  border: 0;
  background-color: $gray-100;
}

.listbox:focus {
  outline: none;
  box-shadow: none;
}

.listbox-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: $mp-5;
}

.listbox-error {
  color: $red-500;
  border-color: $red-500;
}

.listbox-borderless {
  border-color: transparent;
  box-shadow: none;
}

.listbox-ripple {
  display: flex !important;
  height: inherit;
  width: inherit;
  pointer-events: auto;
  justify-content: flex-start;
}

.listbox-actions-container {
  display: flex;
  align-items: center;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding-right: $mp-1;
}

/*
  Add on before
*/

.listbox-addonbefore {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listbox-label {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $gray-900;
  text-align: left;
}

/*
  Select Chevron
*/

.listbox-chevron-container {
  display: flex;
  align-items: center;
  pointer-events: none;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.listbox-chevron {
  height: $mp-7;
  width: $mp-7;
  color: $gray-900;
}

/*
  Option
*/

.listbox-option-container {
  position: absolute;
  list-style-type: none;
  padding: $mp-1 0;
  margin-top: $mp-1;
  width: 100%;
  background-color: $brand-900;
  box-shadow: $shadow-6;
  max-height: 15rem;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -khtml-border-radius: $rounded-md;
  line-height: $font-line-height-sm;
  overflow: auto;
  z-index: 10;
  font-size: $font-size-sm;
  line-height: $font-line-height-sm;

  & :focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.listbox-option {
  position: relative;
  width: inherit;
  cursor: pointer;
  user-select: none;
  padding-right: $mp-10;
  color: $gray-900;
}

.listbox-option-inner {
  display: flex;
  align-items: center;
  margin-right: $mp-4;
  margin-left: $mp-4;
}
