@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .top-bar {
    background-color: $dark-4;
  
    & .top-bar-title {
      color: $gray-100;
    }
  }
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #121212;
}

.top-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $brand-900;
  padding: $mp-4 $mp-5;
  align-items: center;

  & .top-bar-title {
    color: $gray-900;
    font-weight: $font-weight-bold;
    line-height: $font-line-height-base;
  }

  & .exit-button-container {
    border-radius: $rounded-full;
    -webkit-border-radius: $rounded-full;
    -moz-border-radius: $rounded-full;
    -khtml-border-radius: $rounded-full;

    & .exit-button {
      padding: $mp-4 !important;
    }
  }
}

.modal-footer-container {
  background-color: $brand-900;
}

.avatar-editor-container {
  position: relative;
  display: flex;
}

.save-container-touchscreen {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.save-touchscreen {
  position: relative;
}

.save-button-root {
  position: relative;
  padding: $mp-5;
}

.save-button {
  color: $gray-900;
}

.grid-appear {
  opacity: 1;
}

.grid-appear-active {
  opacity: 1;
}

.grid-appear-done {
  opacity: 1;
}

.grid-enter {
  opacity: 0 !important;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.grid-enter-active {
  opacity: 1 !important;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.grid-enter-done {
  opacity: 1 !important;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: $transition-standard-easing;
  -o-transition-timing-function: $transition-standard-easing;
  transition-timing-function: $transition-standard-easing;
}

.grid-exit {
  opacity: 1 !important;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.grid-exit-active {
  opacity: 0 !important;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}

.grid-exit-done {
  opacity: 0 !important;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: $transition-decelerated-easing;
  -o-transition-timing-function: $transition-decelerated-easing;
  transition-timing-function: $transition-decelerated-easing;
}
