@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

.avatar-size-small {
  height: 56px;
  width: 56px;
}

.avatar-size-medium {
  height: 72px;
  width: 72px;
}

.avatar-size-large {
  height: 96px;
  width: 96px;
}

.avatar {
  position: relative;
  border-radius: $rounded-full;
  -webkit-border-radius: $rounded-full;
  -moz-border-radius: $rounded-full;
  -khtml-border-radius: $rounded-full;
  background-color: $gray-200;
  user-select: none;

  & .edit-image-button-size-small {
    height: 28px;
    width: 28px;
  }

  & .edit-image-button-ripple-small {
    height: 28px !important;
    width: 28px !important;
  }

  & .edit-image-button-size-medium {
    height: 32px;
    width: 32px;
  }

  & .edit-image-button-ripple-medium {
    height: 36px !important;
    width: 36px !important;
  }

  & .edit-image-button-size-large {
    height: 36px;
    width: 36px;
  }

  & .edit-image-button-ripple-large {
    height: 36px !important;
    width: 36px !important;
  }

  & .edit-image-button {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-tap-highlight-color: transparent;

    & .edit-image-button-ripple {
      border-radius: $rounded-full;
      -webkit-border-radius: $rounded-full;
      -moz-border-radius: $rounded-full;
      -khtml-border-radius: $rounded-full;
      height: inherit;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 2px solid #fff;
    }

    & .edit-image-button {
      background-color: $gray-500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.avatar-type-rounded {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -khtml-border-radius: 10%;
}

.avatar-type-square {
  border-radius: 0;
}

.avatar-image {
  object-fit: 'contain';
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -khtml-border-radius: 50%;
}

.avatar-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  font-weight: $font-weight-bold;
}

.avatar-single {
}

.avatar-multiple {
}

.image-responsive {
  width: 100%;
  height: auto;
}
