@import './themes/global';
@import './themes/colors';
@import './themes/margins-paddings';

.dark,
.light {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.dark,
.dark .docs-story {
  background: #181818;
}

.light {
  background: '#ffffff';
}
