.sbui-image {

}

.sbui-image-circle {
    border-radius: $rounded-full;
}

.sbui-image-normal {

}

.sbui-image-rounded {
    border-radius: $rounded-base;
}

.sbui-image-responsive {
    width: 100%;
    height: auto;
}