@import '../../themes/global';
@import '../../themes/colors';
@import '../../themes/margins-paddings';

:global(.dark) {
  .accordion-item-bordered {
    background-color: $gray-100;
    border-color: $gray-100;
  }
  
  .accordion-top-bar {
    color: $gray-100;
  }
  
  .accordion-top-bar-label {
    color: $gray-100;
  }

  .accordion-item-button {
    background-color: transparent;
    color: $gray-100;
  }

  .accordion-container-bordered .accordion-item-button:not(:first-child) {
    border-color: $gray-200;
  }
}

.accordion-container {
  display: flex;
  flex-direction: column;
  border-radius: $rounded-md;
  -webkit-border-radius: $rounded-md;
  -moz-border-radius: $rounded-md;
  -khtml-border-radius: $rounded-md;
}

.accordion-item-bordered {
  background-color: $gray-900;
  border-color: $gray-900;
  border-width: $border-2;
  border-style: solid;
}

.accordion-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $mp-4;
  color: $gray-900;
}

.accordion-top-bar-label {
  color: $gray-900;
}

.accordion-item {
  width: 100%;
}

.accordion-item-ripples {
  border-radius: $rounded-sm;
  -webkit-border-radius: $rounded-sm;
  -moz-border-radius: $rounded-sm;
  -khtml-border-radius: $rounded-sm;
}

.accordion-item-button {
  display: flex;
  justify-content: space-between;
  padding: $mp-7 $mp-7;
  width: 100%;
  cursor: pointer;
  text-align: left;
  border-radius: $rounded-sm;
  -webkit-border-radius: $rounded-sm;
  -moz-border-radius: $rounded-sm;
  -khtml-border-radius: $rounded-sm;
  border-width: 0;
  font-family: inherit;
  font-weight: inherit;
  font-weight: $font-weight-medium;
  border-top-left-radius: $rounded-md;
  border-top-right-radius: $rounded-md;
  background-color: transparent;
  color: $gray-900;
}

.accordion-item-button .typography-text {
  width: 100%;
  max-width: none;
}

.accordion-item-button .typography-text:last-child {
  padding-left: $mp-2;
}

.accordion-item-button .icon {
  margin-top: 1px;
}

.accordion-container-bordered .accordion-item-button:not(:first-child) {
  border-radius: 0px;
  border-color: $gray-800;
}

.accordion-item-panel {
  padding: $mp-4 $mp-4;
}

.expand-animated-container {
  height: 21px;
  width: 21px;
}
