.sbui-auth {
  width: 100%;
}

.terms-of-service {
  display: flex;
}

.privacy-policy {
  display: flex;
}

.button-container {
  width: 100%;
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-icon {
  @apply pr-2;
}